#header {
  background: darkorange;
  color:white;
  font-size:30px;
  padding: 20px;
  text-align:center;
}

#container {
  float: left;
  width: 50%;
  padding: 10px;
  height: 780px;
  font-size: 19px;
  background-color: white;
}

#leftsidebar {
  float: left;
  width: 23%;
  padding: 10px;
  height: 780px;
  background-color: white;
}

#rightsidebar {
  float: left;
  width: 23%;
  padding: 10px;
  height: 780px;
  background-color: white;
}
#footer {
  background: steelblue;
  text-align:right;
  color:white;
  padding:20px;
  clear: both;
}
body{
  background-image: url('tile.png');
}

  #image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid steelblue;
}

#image1 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 10px solid steelblue;
}

#image2 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 10px solid steelblue;
}

#image3 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 10px solid steelblue;
}
  nav {
      	margin: 0;
      	padding: 10px 15px;
      }
  nav ul{
  	margin: 0;
  	padding: 10px 10px;
  	list-style-type: none;
  	float:right;
  	text-align: right;
  }
  nav li{
  	padding: auto;
  }

  a:link { color: #175B7D; }
a:visited { color: #600; }

a:hover, a:active
{
	color: #fff;
	background: #175B7D;
}

button {
  border-radius: 3px;
  margin: 5px;
}
