header {
  background: darkorange;
  color:white;
  font-size:20px;
  text-align:center;
  flex-basis: 100%;
}

.container {
  padding:10px;
  font-size: 19px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

nav {
      margin: 0;
      padding: 10px 15px;
      flex:10em;
    }
nav ul{
  margin: 0;
  padding: 10px 10px;
  list-style-type: none;
  text-align: right;
}
nav li{
  padding: auto;
}

main {
  flex: 1 0 30%;
  flex-grow: 1;
}

aside {
  flex-basis: 25em;
}

footer {
flex-basis: 100%;
}

#footer {
  background: steelblue;
  text-align:right;
  color:white;
  padding:20px;
  clear: both;
  flex-basis: 100%;
}

  #image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid steelblue;
  margin-bottom:25px;
}

#image1 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 10px solid steelblue;
margin-bottom:25px;
}

#image2 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 10px solid steelblue;
margin-bottom:25px;
}

#image3 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 10px solid steelblue;
margin-bottom:25px;
}

  a:link { color: #175B7D; }
a:visited { color: #600; }

a:hover, a:active
{
	color: #fff;
	background: #175B7D;
}

button {
  border-radius: 3px;
  margin: 5px;
  font-size:20px;
}
